.note {
  width: 400px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  position: absolute;
}

.note-body {
  padding: 1em;
  border-radius: 0 0 5px 5px;
}

.note-body textarea {
  background-color: inherit;
  border: none;
  width: 100%;
  height: 100%;
  resize: none;
  font-size: 16px;
}

textarea:focus {
  background-color: inherit;
  outline: none;
  width: 100%;
  height: 100%;
}

.note-header {
  background-color: #9bd1de;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
